APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

DUPLITRON_PROJECT_ID=1
DUPLITRON_URL=http://localhost/duplitron/api
DUPLITRON_API_TIMEOUT=300
DUPLITRON_MAX_DURATION=100
DUPLITRON_MIN_DURATION=8
DUPLITRON_MIN_HASH_RATIO=.1

ARCHIVE_API_HOST=https://archive.org
REGISTER_RESULTS_WITH_ARCHIVE=false
